<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script type="text/javascript" src="powerClass.js"></script>
    <script type="text/javascript" src="main2.js"></script>
</head>
<body>

    <input class="input-model" type="text" ng-model="firstName" />
    <div class="content-area" ng-display="firstName"></div>

    <input class="input-model" type="text" ng-model="lastName" />
    <div class="content-area" ng-display="lastName"></div>
    <div class="content-area" ng-display="lastName"></div>
    <div class="content-area" ng-display="lastName"></div>
    <div class="content-area" ng-display="lastName"></div>
    <div class="content-area" ng-display="lastName"></div>
    <div class="content-area" ng-display="lastName"></div>
    <div class="content-area" ng-display="lastName"></div>
    <div class="content-area" ng-display="lastName"></div>

    <button id="btn"> Switch Models </button>


</body>
</html>